<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunshine Catering</title>

    <link rel="shortcut icon" href="~/Design/sunshinelogo.png" />
    <link href="~/Design/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Design/css/animate.css" rel="stylesheet" />
    <link href="~/Design/css/animate.min.css" rel="stylesheet" />
    <link href="~/Design/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Design/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Design/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Design/css/flaticon.css" rel="stylesheet" />

    <link href="~/Design/revolution/css/layers.css" rel="stylesheet" />
    <link href="~/Design/revolution/css/settings.css" rel="stylesheet" />

    <link href="~/Design/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Design/css/shortcodes.css" rel="stylesheet" />
    <link href="~/Design/css/main.css" rel="stylesheet" />
    <link href="~/Design/css/responsive.css" rel="stylesheet" />

</head>
<body>

    <div class="body">
        @RenderBody()
        <hr />

    </div>


    <footer class="footer widget-footer ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes bg-img1 clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="first-footer ttm-textcolor-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ttm-footer-cta-wrapper ttm-textcolor-white ttm-bgcolor-skincolor">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
                                    <div class="newsletter-box">
                                        <h5>Subscribe Our Newsletter</h5>
                                        <p>Keep your newsletter consistent by cooking up recurring topics, updated with new info in each.</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
                                    <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                                        <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                            <i class="fa fa-envelope-o"></i>
                                            <p><input type="email" name="email" placeholder="Your Email Address.." required=""></p>
                                            <p><input type="submit" value="Subscribe" class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-bgcolor-darkgrey"></p>
                                        </div>
                                        <div id="subscribe-msg"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <div class="col-md-12 text-center">
                        <div class="footer-logo-box">
                            <div class="footer-logo">
                                <img id="footer-logo-img" class="img-center" src="~/Design/sunshinelogo.png" alt="Sunshine Caterers"><br />
                                <b style="color: #c5a572; font-size: xx-large; font-family: 'Century Schoolbook'">Sunshine Caterers</b>
                            </div>
                            <p class="mb-0">
                                Catering is the business of providing food service at a remote site or a site such as a hotel, hospital, pub, aircraft, 
                                cruise ship, park, filming site or studio, entertainment site, or event venue.
                            </p>
                            <br>
                            <div class="social-icons circle social-hover">
                                <ul class="list-inline">
                                    <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="social-flickr"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="flickr"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                    <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-footer ttm-textcolor-white position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                        <div class="widget contact-widget">
                            <h3 class="widget-title">Contact Us</h3>
                            <ul class="contact-widget-wrapper">
                                <li><i class="fa fa-map-marker"></i>Shyam Sunder Complex, Near Kamal daal mill, gudhiyari Raipur (C.G.)</li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com" target="_blank">info@example.com</a></li>
                                <li><i class="fa fa-phone"></i>Phone: (+91) 8770993087 <br> Support: (+91) 9425509752</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area" >
                        <div class="widget link-widget clearfix">
                            <h3 class="widget-title">Our Services</h3>
                            <ul id="menu-footer-services">
                                <li><a href="#">Fine Dining & Concierge</a></li>
                                <li><a href="#">Quick Counter Service</a></li>
                                <li><a href="#">Banquet Table Service</a></li>
                                <li><a href="#">Family Style Service</a></li>
                                <li><a href="#">Quick Delivery Service</a></li>
                                <li><a href="#">Buffet Table Service</a></li>
                                <li><a href="#">Traditional Counter Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                        <div class="widget widget_text clearfix">
                            <h3 class="widget-title">Opening Hours</h3>
                            <div class="textwidget widget-text">
                                <div class="ttm-pricelistbox-wrapper ">
                                    <div class="ttm-timelist-block-wrapper">
                                        <ul class="ttm-timelist-block">
                                            <li><span> Mon - Fri </span> <p class="service-time">09:00am - 05:00pm</p></li>
                                            <li><span> Sat - Sun </span> <p class="service-time">10:00am - 11:00pm</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <h3 class="widget-title">Coffee Bar Opening</h3>
                            <div class="textwidget widget-text">
                                <div class="ttm-pricelistbox-wrapper ">
                                    <div class="ttm-timelist-block-wrapper">
                                        <ul class="ttm-timelist-block">
                                            <li> <span> Mon - Fri </span> <p class="service-time">08:00am - 07:00pm</p></li>
                                            <li> <span> Sat - Sun </span> <p class="service-time">08:00am - 09:00pm</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="bottom-footer-text ttm-bgcolor-darkgrey ttm-textcolor-white">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-12">
                        <div class="">
                            <span>Copyright © 2020 Sunshine Caterers</span>
                        </div>
                    </div>
                    @*<div class="col-md-12">
                            <ul id="menu-footer-menu" class="footer-nav-menu">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </footer>



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <script src="~/Design/js/jquery.min.js"></script>
    <script src="~/Design/js/tether.min.js"></script>
    <script src="~/Design/js/bootstrap.min.js"></script>
    <script src="~/Design/js/jquery.easing.js"></script>
    <script src="~/Design/js/jquery-waypoints.js"></script>
    <script src="~/Design/js/jquery-validate.js"></script>
    <script src="~/Design/js/owl.carousel.js"></script>
    <script src="~/Design/js/jquery.prettyPhoto.js"></script>
    <script src="~/Design/js/numinate.min6959.js"></script>
    <script src="~/Design/js/main.js"></script>

    <script src="~/Design/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Design/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Design/revolution/js/slider.js"></script>

    <script src="~/Design/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Design/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Design/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Design/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Design/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Design/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Design/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Design/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>

</body>
</html>
